<html lang="en" >
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>robfitzgerald</title>
</head>
<body ng-app="githubIo" ng-cloak ng-controller="testCtrl as ctrl">

	<md-toolbar>
    <div class="md-toolbar-tools">
      <span>Student CV</span>
      <span flex></span>
      <md-button>
      	<i class="material-icons" ng-click="ctrl.showMenu()">menu</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <md-list layout-sm="row">
		  <md-list-item class="md-2-line" ng-repeat="item in ctrl.subjects">
		    <div class="md-list-item-text">
		      <h3>{{item.title}}</h3>
		      <div layout="row">
		      	<p flex="30">{{item.createdDate}}</p>
		      	<p flex="20">{{item.language}}</p>
		      </div>
		      <p>{{item.description}}</p>
		      <a ng-href="{{item.url}}">Github Repository</p>
		      <a ng-href="{{item.see}}">{{item.see}}</a>
		      <div layout="row" layout-align="start start">
		      	<div class="md-caption" ng-repeat="tag in item.tags" flex="10">{{tag}}</div>
		      </div>
		      <p style="padding-bottom: 20px;"></p>
		    </div>
		  </md-list-item>
		</md-list>
  </md-content>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script type="text/javascript">    
    angular.module('githubIo', ['ngMaterial']);
    angular.module('githubIo')
    	.controller('testCtrl', ['githubApiService', '$mdToast', function(githubApiService, $mdToast) {
	    	var	githubBase = "https://github.com/robfitzgerald";
    		var vm = this;
    		vm.showMenu = function($event) {
					$mdToast.show($mdToast.simple().textContent('menu'));
    		};
    		vm.subjects = [
			    {
						title: "Chess AI",
						description: "command line tool exploring R.Reti chess endgame study",
						repo: "csci5582-chess-endgame",
						see: "https://en.wikipedia.org/wiki/R%C3%A9ti_endgame_study",
						tags: [
							"c++",
							"ai",
							"OOP"
						]
					},
					{
						title: "Blocks World Planning",
						description: "Angular Service employing STRIPS planning system",
						repo: "csci5582_project2",
						see: "https://en.wikipedia.org/wiki/STRIPS",
						tags: [
							"javascript",
							"expert systems",
							"planning",
							"MEAN"
						]
					},
					{
						title: "Graph Coloring and Thickness",
						description: "command line tool exploring the chromatic number of the form C sub n[K sub r]",
						repo: "csci5451-graph-thickness-and-coloring",
						see: "https://en.wikipedia.org/wiki/Thickness_(graph_theory)",
						tags: [
							"c++",
							"graph theory",
							"graph coloring",
							"graph thickness"
						]
					},
					{
						title: "Page Replacement Simulation",
						description: "command line tool simulating CPU page replacement algorithms",
						repo: "csci3453-lab3-pagereplacement",
						see: "https://en.wikipedia.org/wiki/Page_replacement_algorithm",
						tags: [
							"c++",
							"operating systems",
							"OOP"
						]
					},
					{
						title: "Chesspiece Trajectories",
						description: "command line tool generating all shortest paths for chess pieces using linguistic geometry",
						repo: "CSCI5582-project-03",
						see: "http://www.stilman-strategies.com/bstilman/research/index.html",
						tags: [
							"c++",
							"ai",
							"OOP",
							"LG"
						]
					},
					{
						title: "This Website",
						description: "github.io site built on Angular, Angular Material, and the Github API",
						repo: "robfitzgerald.github.io",
						see: "https://pages.github.com",
						tags: [
							"javascript",
							"API",
							"git"
						]
					}
    		]
    		vm.subjects.forEach(function(item) {
    			item.url = githubBase + '/' + item.repo;
    			githubApiService.repoDetails(item.repo)
    				.success(function(response) {
    					item.createdDate = response.created_at;
    					item.language = response.language;
    					console.log(response);
    				})
    		});
    	}])
    	.factory('githubApiService', ['$http', function($http) {
    		var githubApiBase = "https://api.github.com/repos/robfitzgerald";
    		return {
    			repoDetails: repoDetails
    		};

    		function repoDetails (repoName) {
    			return $http.get(githubApiBase + '/' + repoName);
    		}

    	}])
  </script>
  
</body>
</html>