<html lang="en" >
<head>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <title>robfitzgerald</title>
</head>
<body ng-app="githubIo" ng-cloak>

	<md-toolbar>
    <div class="md-toolbar-tools">
      <span>My App's Title</span>
      <span flex></span>
      <md-button>
        (future menu)
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    Hello!
    <md-list ng-controller="testCtrl as ctrl">
		  <md-list-item class="md-2-line" ng-repeat="item in ctrl.subjects">
		    <div class="md-list-item-text">
		      <h3>{{item.title}}</h3>
		      <p>{{item.description}}</p>
		      <a ng-href="item.url">Github Repository</p>
		      <a ng-href="item.see">{{item.see}}</a>
		      <p ng-repeat="tag in item.tags" flex>{{tag}}</p>
		    </div>
		  </md-list-item>
		</md-list>
  </md-content>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script type="text/javascript">    
    angular.module('githubIo', ['ngMaterial']);
    angular.module('githubIo')
    	.controller('testCtrl', function() {
    		var vm = this;
    		vm.subjects = [
			    {
						title: "Chess AI",
						description: "c++ command line tool exploring R.Reti chess endgame study",
						url: "https://en.wikipedia.org/wiki/R%C3%A9ti_endgame_study",
						see: "https://chessprogramming.wikispaces.com/",
						tags: [
							"c++",
							"ai",
							"OOP"
						]
					},
					{
						title: "Blocks World Planning",
						description: "Angular Service employing STRIPS planning system",
						url: "https://github.com/robfitzgerald/csci5582_project2",
						see: "https://en.wikipedia.org/wiki/STRIPS",
						tags: [
							"javascript",
							"expert systems",
							"planning",
							"MEAN"
						]
					},
					{
						title: "Graph Coloring and Thickness",
						description: "c++ command line tool exploring the chromatic number of the form C sub n[K sub r]",
						url: "https://github.com/robfitzgerald/csci5451-graph-thickness-and-coloring/tree/master/implementation_02",
						see: "https://en.wikipedia.org/wiki/Thickness_(graph_theory)",
						tags: [
							"c++",
							"graph theory",
							"graph coloring",
							"graph thickness"
						]
					},
					{
						title: "Page Replacement Simulation",
						description: "c++ command line tool simulating CPU page replacement algorithms",
						url: "https://github.com/robfitzgerald/csci3453-lab3-pagereplacement",
						see: "https://en.wikipedia.org/wiki/Page_replacement_algorithm",
						tags: [
							"c++",
							"operating systems",
							"OOP"
						]
					},
					{
						title: "Chesspiece Trajectories",
						description: "c++ command line tool generating all shortest paths for chess pieces using linguistic geometry",
						url: "https://github.com/robfitzgerald/CSCI5582-project-03",
						see: "http://www.stilman-strategies.com/bstilman/research/index.html",
						tags: [
							"c++",
							"ai",
							"OOP",
							"LG"
						]
					}
    		]
    	});
  </script>
  
</body>
</html>